<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>luceneautosuggester</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>Gwt_jboss.html</welcome-file>
  </welcome-file-list>
 <!-- Servlets -->
  <servlet>
    <servlet-name>autosuggestServlet</servlet-name>
    <servlet-class>org.jboss.tools.gwt.server.autosuggester.AutosuggestServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>autosuggestServlet</servlet-name>
    <url-pattern>/gwt_jboss/autosuggest</url-pattern>
  </servlet-mapping>
</web-app>